.page_4041{ 
    padding:4px 0 40px 0; 
    background:#fff; 
    font-family: 'Arvo', serif; 
    position: relative;
    z-index: -1;
}

.container12{
    position: absolute;
    top:7rem;
    left:0;
    z-index: 9;
}
.page_404  img{ width:100%;}

// .containre{}

.text-center1{
    font-family: 'Inter', sans-serif;
    padding-top: 0rem;
    font-size: 3rem;
}

.four_zero_four_bg{


 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    width: 1250px;
    background-position: center;
    margin: 0 auto;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
       font-size:80px;
       }

       .contant_box_404 .h2{
        font-family: 'Inter', sans-serif;
        font-size: 20px;
       }

       .contant_box_404 p{
        font-family: 'Inter', sans-serif;
        font-size: 18px;
       }


       
.link_404{      
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}
  .contant_box_404{ margin-top:-50px;}